body {
    background-color: rgb(64, 43, 90);
  }
  h1 {
    color: rgb(207, 235, 29);
  }
  p {
    color: rgb(222, 211, 240);
  } 
    a {
    font-family: "Lucida Console", "Courier New", monospace;
  }
